/* line 1, ../compass/sass/style.scss */
#front-container {
  background-image: url("images/board.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

/* line 9, ../compass/sass/style.scss */
#header {
  height: 125px;
  margin-bottom: 0px;
  background-color: #5982A7;
}
/* line 13, ../compass/sass/style.scss */
#header #logo {
  height: 100%;
}
/* line 16, ../compass/sass/style.scss */
#header #monopoly {
  height: 100%;
}
/* line 19, ../compass/sass/style.scss */
#header img {
  width: 100%;
  height: 100%;
}
/* line 23, ../compass/sass/style.scss */
#header h1 {
  color: white;
  font-size: 90px;
}
/* line 27, ../compass/sass/style.scss */
#header #action-bar {
  margin-top: 50px;
}
/* line 29, ../compass/sass/style.scss */
#header #action-bar h4 {
  color: white;
}

/* line 35, ../compass/sass/style.scss */
.cell {
  border: 1px solid black;
  height: 80px;
}
