/* line 1, ../compass/sass/_backgrounds.scss */
.zero {
  background-image: url("images/backgrounds/zero.gif");
  background-size: 100%;
}

/* line 5, ../compass/sass/_backgrounds.scss */
.one {
  background-image: url("images/backgrounds/one.png");
  background-size: 100%;
}

/* line 9, ../compass/sass/_backgrounds.scss */
.two {
  background-image: url("images/backgrounds/two.png");
  background-size: 100%;
}

/* line 13, ../compass/sass/_backgrounds.scss */
.three {
  background-image: url("images/backgrounds/three.png");
  background-size: 100%;
}

/* line 17, ../compass/sass/_backgrounds.scss */
.four {
  background-image: url("images/backgrounds/four.png");
  background-size: 100%;
}

/* line 21, ../compass/sass/_backgrounds.scss */
.five {
  background-image: url("images/backgrounds/five.png");
  background-size: 100%;
}

/* line 25, ../compass/sass/_backgrounds.scss */
.six {
  background-image: url("images/backgrounds/six.png");
  background-size: 100%;
}

/* line 29, ../compass/sass/_backgrounds.scss */
.seven {
  background-image: url("images/backgrounds/seven.png");
  background-size: 100%;
}

/* line 33, ../compass/sass/_backgrounds.scss */
.eight {
  background-image: url("images/backgrounds/eight.png");
  background-size: 100%;
}

/* line 37, ../compass/sass/_backgrounds.scss */
.nine {
  background-image: url("images/backgrounds/nine.png");
  background-size: 100%;
}

/* line 41, ../compass/sass/_backgrounds.scss */
.ten {
  background-image: url("images/jail.jpg");
  background-size: 100%;
}

/* line 45, ../compass/sass/_backgrounds.scss */
.eleven {
  background-image: url("images/backgrounds/eleven.png");
  background-size: 100%;
}

/* line 49, ../compass/sass/_backgrounds.scss */
.twelve {
  background-image: url("images/backgrounds/twelve.png");
  background-size: 100%;
}

/* line 53, ../compass/sass/_backgrounds.scss */
.thirteen {
  background-image: url("images/backgrounds/thirteen.png");
  background-size: 100%;
}

/* line 57, ../compass/sass/_backgrounds.scss */
.fourteen {
  background-image: url("images/backgrounds/fourteen.png");
  background-size: 100%;
}

/* line 61, ../compass/sass/_backgrounds.scss */
.fifteen {
  background-image: url("images/backgrounds/fifteen.png");
  background-size: 100%;
}

/* line 65, ../compass/sass/_backgrounds.scss */
.sixteen {
  background-image: url("images/backgrounds/sixteen.png");
  background-size: 100%;
}

/* line 69, ../compass/sass/_backgrounds.scss */
.seventeen {
  background-image: url("images/backgrounds/two.png");
  background-size: 100%;
}

/* line 73, ../compass/sass/_backgrounds.scss */
.eighteen {
  background-image: url("images/backgrounds/eighteen.png");
  background-size: 100%;
}

/* line 77, ../compass/sass/_backgrounds.scss */
.nineteen {
  background-image: url("images/backgrounds/nineteen.png");
  background-size: 100%;
}

/* line 81, ../compass/sass/_backgrounds.scss */
.twenty {
  background-image: url("images/backgrounds/freeParking.jpg");
  background-size: 100%;
  background-position: 0px -5px;
}

/* line 86, ../compass/sass/_backgrounds.scss */
.twenty-one {
  background-image: url("images/backgrounds/twentyone.png");
  background-size: 100%;
}

/* line 90, ../compass/sass/_backgrounds.scss */
.twenty-two {
  background-image: url("images/backgrounds/seven.png");
  background-size: 100%;
}

/* line 94, ../compass/sass/_backgrounds.scss */
.twenty-three {
  background-image: url("images/backgrounds/twentythree.png");
  background-size: 100%;
}

/* line 98, ../compass/sass/_backgrounds.scss */
.twenty-four {
  background-image: url("images/backgrounds/twentyfour.png");
  background-size: 100%;
}

/* line 102, ../compass/sass/_backgrounds.scss */
.twenty-five {
  background-image: url("images/backgrounds/twentyfive.png");
  background-size: 100%;
}

/* line 106, ../compass/sass/_backgrounds.scss */
.twenty-six {
  background-image: url("images/backgrounds/twentysix.png");
  background-size: 100%;
}

/* line 110, ../compass/sass/_backgrounds.scss */
.twenty-seven {
  background-image: url("images/backgrounds/twentyseven.png");
  background-size: 100%;
}

/* line 114, ../compass/sass/_backgrounds.scss */
.twenty-eight {
  background-image: url("images/backgrounds/twentyeight.png");
  background-size: 100%;
}

/* line 118, ../compass/sass/_backgrounds.scss */
.twenty-nine {
  background-image: url("images/backgrounds/twentynine.png");
  background-size: 100%;
}

/* line 122, ../compass/sass/_backgrounds.scss */
.thirty {
  background-image: url("images/backgrounds/thirty.png");
  background-size: 100%;
}

/* line 126, ../compass/sass/_backgrounds.scss */
.thirty-one {
  background-image: url("images/backgrounds/thirtyone.png");
  background-size: 100%;
}

/* line 130, ../compass/sass/_backgrounds.scss */
.thirty-two {
  background-image: url("images/backgrounds/thirtytwo.png");
  background-size: 100%;
}

/* line 134, ../compass/sass/_backgrounds.scss */
.thirty-three {
  background-image: url("images/backgrounds/two.png");
  background-size: 100%;
}

/* line 138, ../compass/sass/_backgrounds.scss */
.thirty-four {
  background-image: url("images/backgrounds/thirtyfour.png");
  background-size: 100%;
}

/* line 142, ../compass/sass/_backgrounds.scss */
.thirty-five {
  background-image: url("images/backgrounds/thirtyfive.png");
  background-size: 100%;
}

/* line 146, ../compass/sass/_backgrounds.scss */
.thirty-six {
  background-image: url("images/backgrounds/seven.png");
  background-size: 100%;
}

/* line 150, ../compass/sass/_backgrounds.scss */
.thirty-seven {
  background-image: url("images/backgrounds/thirtyseven.png");
  background-size: 100%;
}

/* line 154, ../compass/sass/_backgrounds.scss */
.thirty-eight {
  background-image: url("images/backgrounds/luxury.jpg");
  background-size: 100%;
}

/* line 158, ../compass/sass/_backgrounds.scss */
.thirty-nine {
  background-image: url("images/backgrounds/thirtynine.png");
  background-size: 100%;
}

/* line 3, ../compass/sass/style.scss */
#front-container {
  background-image: url("images/board.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  height: 600px;
}

/* line 11, ../compass/sass/style.scss */
#header {
  height: 100px;
  margin-bottom: 0px;
  background-color: #5982A7;
}
/* line 15, ../compass/sass/style.scss */
#header #logo {
  height: 100%;
}
/* line 18, ../compass/sass/style.scss */
#header #monopoly {
  height: 100%;
}
/* line 21, ../compass/sass/style.scss */
#header img {
  width: 100%;
  height: 100%;
}
/* line 25, ../compass/sass/style.scss */
#header h1 {
  color: white;
  font-size: 90px;
}
/* line 29, ../compass/sass/style.scss */
#header #action-bar {
  margin-top: 50px;
}
/* line 31, ../compass/sass/style.scss */
#header #action-bar h4 {
  color: white;
}

/* line 37, ../compass/sass/style.scss */
.cell {
  font-size: 8px;
  border: 1px solid black;
  height: 55px;
  padding: 0px;
}

/* line 45, ../compass/sass/style.scss */
.red {
  border: 3px solid red;
}

/* line 48, ../compass/sass/style.scss */
.blue {
  border: 3px solid blue;
}

/* line 51, ../compass/sass/style.scss */
.redText {
  color: red;
}

/* line 54, ../compass/sass/style.scss */
.blueText {
  color: blue;
}

/* line 58, ../compass/sass/style.scss */
#gameInfo h2 {
  display: inline;
}
/* line 61, ../compass/sass/style.scss */
#gameInfo div {
  margin-top: 18px;
}

/* line 67, ../compass/sass/style.scss */
#playerOneInfo img {
  height: 70px;
}
/* line 70, ../compass/sass/style.scss */
#playerOneInfo h4 {
  margin-top: -15px;
}

/* line 75, ../compass/sass/style.scss */
#playerTwoInfo img {
  height: 50px;
}
/* line 78, ../compass/sass/style.scss */
#playerTwoInfo h4 {
  margin-top: -5px;
}

/* line 83, ../compass/sass/style.scss */
#board img {
  height: 44px;
  display: inline-block;
}
/* line 87, ../compass/sass/style.scss */
#board button {
  margin-bottom: -30px;
}
/* line 90, ../compass/sass/style.scss */
#board h1 {
  font-size: 10px;
}
/* line 93, ../compass/sass/style.scss */
#board #purchaseInfo {
  margin-top: 20px;
}

/* line 97, ../compass/sass/style.scss */
.playerOneBorder {
  border: 3px solid red;
}

/* line 100, ../compass/sass/style.scss */
.playerTwoBorder {
  border: 3px solid blue;
}

/* line 103, ../compass/sass/style.scss */
.sameBorder {
  border-width: 3px;
  border-style: solid;
  border-color: red blue;
}

/* line 108, ../compass/sass/style.scss */
#chanceCardSpot, #chestCardSpot {
  position: relative;
}
/* line 110, ../compass/sass/style.scss */
#chanceCardSpot img, #chestCardSpot img {
  position: absolute;
  height: 90px;
  left: 30px;
}

/* line 116, ../compass/sass/style.scss */
#freeParkingBank {
  position: relative;
}
/* line 118, ../compass/sass/style.scss */
#freeParkingBank h6 {
  position: absolute;
  top: -50px;
  left: 128px;
}
/* line 123, ../compass/sass/style.scss */
#freeParkingBank img {
  position: absolute;
  height: 75px;
  top: -25px;
}

/* line 131, ../compass/sass/style.scss */
#jailFreeCard img {
  height: 50px;
}
/* line 134, ../compass/sass/style.scss */
#jailFreeCard h5 {
  display: inline-block;
}

/* line 138, ../compass/sass/style.scss */
.Purpleone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red #4d0066 red;
}

/* line 143, ../compass/sass/style.scss */
.Purpletwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue #4d0066 blue;
}

/* line 148, ../compass/sass/style.scss */
.Light-Greenone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red #cce6ff red;
}

/* line 153, ../compass/sass/style.scss */
.Light-Greentwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue #cce6ff blue;
}

/* line 158, ../compass/sass/style.scss */
.Railroadone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red black red;
}

/* line 163, ../compass/sass/style.scss */
.Railroadtwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue black blue;
}

/* line 168, ../compass/sass/style.scss */
.Violetone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red #990099 red;
}

/* line 173, ../compass/sass/style.scss */
.Violettwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue #990099 blue;
}

/* line 178, ../compass/sass/style.scss */
.Orangeone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red orange red;
}

/* line 183, ../compass/sass/style.scss */
.Orangetwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue orange blue;
}

/* line 188, ../compass/sass/style.scss */
.Redone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red red red;
}

/* line 193, ../compass/sass/style.scss */
.Redtwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue red blue;
}

/* line 198, ../compass/sass/style.scss */
.Yellowone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red yellow red;
}

/* line 203, ../compass/sass/style.scss */
.Yellowtwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue yellow blue;
}

/* line 208, ../compass/sass/style.scss */
.Dark-Greenone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red #006600 red;
}

/* line 213, ../compass/sass/style.scss */
.Dark-Greentwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue #006600 blue;
}

/* line 218, ../compass/sass/style.scss */
.Blueone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red blue red;
}

/* line 223, ../compass/sass/style.scss */
.Bluetwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue blue blue;
}

/* line 228, ../compass/sass/style.scss */
.Utilityone {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: red red gold red;
}

/* line 233, ../compass/sass/style.scss */
.Utilitytwo {
  border-style: dotted dotted solid dotted;
  border-width: 3px 3px 15px 3px;
  border-color: blue blue gold blue;
}
