<div class="container">
	<div class="text-center">
		<h1 class="text-center">{{message}}</h1>
		<h1>{{position}}</h1>
		<button ng-click="rollDice()">Roll Dice</button>
	</div>
		<div class="col-sm-8 col-sm-offset-2">
			<div class="col-sm-4"><h1>{{playerOneBank}}</h1></div>
			<div class="col-sm-4"><h1>{{playerTwoBank}}</h1></div>
		</div>
	<div id="board" class="col-sm-8 col-sm-offset-2 text-center">
		<div id="row1" class="row">
			<div id="20" class="cell col-sm-1">20
			</div>
			<div id="21" class="cell col-sm-1">21
			</div>
			<div id="22" class="cell col-sm-1">22
			</div>
			<div id="23" class="cell col-sm-1">23
			</div>
			<div id="24" class="cell col-sm-1">24
			</div>
			<div id="25" class="cell col-sm-1">25
			</div>
			<div id="26" class="cell col-sm-1">26
			</div>
			<div id="27" class="cell col-sm-1">27
			</div>
			<div id="28" class="cell col-sm-1">28
			</div>
			<div id="29" class="cell col-sm-1">29
			</div>
			<div id="30" class="cell col-sm-1">30
			</div>
		</div>
		<div id="row2" class="row">
			<div id="19" class="cell col-sm-1">19
			</div>
			<div id="31" class="cell col-sm-1 col-sm-offset-9">31
			</div>
		</div>
		<div id="row3" class="row">
			<div id="18" class="cell col-sm-1">18
			</div>
			<div id="32" class="cell col-sm-1 col-sm-offset-9">32
			</div>
		</div>
		<div id="row4" class="row">
			<div id="17" class="cell col-sm-1">17
			</div>
			<div id="33" class="cell col-sm-1 col-sm-offset-9">33
			</div>
		</div>
		<div id="row5" class="row">
			<div id="16" class="cell col-sm-1">16
			</div>
			<div id="34" class="cell col-sm-1 col-sm-offset-9">34
			</div>
		</div>
		<div id="row6" class="row">
			<div id="15" class="cell col-sm-1">15
			</div>
			<div id="35" class="cell col-sm-1 col-sm-offset-9">35
			</div>
		</div>
		<div id="row7" class="row">
			<div id="14"class="cell col-sm-1">14
			</div>
			<div id="36"class="cell col-sm-1 col-sm-offset-9">36
			</div>
		</div>
		<div id="row8" class="row">
			<div id="13"class="cell col-sm-1">13
			</div>
			<div id="37" class="cell col-sm-1 col-sm-offset-9">37
			</div>
		</div>
		<div id="row9" class="row">
			<div id="12" class="cell col-sm-1">12
			</div>
			<div id="38" class="cell col-sm-1 col-sm-offset-9">38
			</div>
		</div>
		<div id="row10" class="row">
			<div id="11" class="cell col-sm-1">11
			</div>
			<div id="39" class="cell col-sm-1 col-sm-offset-9">39
			</div>
		</div>
		<div id="row11" class="row">
			<div id="10" class="cell col-sm-1">10
			</div>
			<div id="9" class="cell col-sm-1">9
			</div>
			<div id="8" class="cell col-sm-1">8
			</div>
			<div id="7" class="cell col-sm-1">7
			</div>
			<div id="6" class="cell col-sm-1">6
			</div>
			<div id="5" class="cell col-sm-1">5
			</div>
			<div id="4" class="cell col-sm-1">4
			</div>
			<div id="3" class="cell col-sm-1">3

			</div>
			<div id="2" class="cell col-sm-1">2
			</div>
			<div id="1" class="cell col-sm-1">1
			</div>
			<div id="0" class="cell col-sm-1">0
			</div>
		</div>
	</div>
</div>